#body  
{
    padding: 0;
    margin: 0;
    height: 100%;
	overflow-x: scroll !important;
	overflow-y: auto !important;
}

#body .content { padding: 1em 2em; }
#body .content:after {
    content:' ';
    display:block;
    height: 2em;
}

.ui-layout-north, .ui-layout-west {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui-layout-west {
    margin: 0;
    padding: 0;
    border-right: none;
    background: #FFF;
    position: absolute;
}

.ui-layout-west:after {
    height: 0;
    margin-right: 0;
    background: #FFF;
}

.ui-layout-west .menu {
    margin: 1em 0;
}



/* resizor */
.resizor {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
    margin: -0.7em -1.5em 0 0;
    opacity: 0.1;
    -moz-opacity:0.1;
    -khtml-opacity: 0.1; 
    filter:alpha(opacity=10);
}
.resizor:hover {
    opacity: 0.3;
    -moz-opacity:0.3;
    -khtml-opacity: 0.3; 
    filter:alpha(opacity=30);
}
.resizor.state-collapse {
    background: url(../images/icons/expand.png) no-repeat center center;
}
.resizor.state-expand {
    background: url(../images/icons/collapse.png) no-repeat center center;
}


/* jQuery.UI.core */
.ui-layout-resizer {
    background: #DDD;
    border: 1px solid #BBB;
    border-width: 0;
}
.ui-layout-resizer-open-hover, .ui-layout-resizer-dragging {
    background: #C4E1A4;
}

.ui-layout-toggler {
    border: 1px solid #BBB;
    background-color: #BBB;
}
.ui-layout-toggler-north, .ui-layout-toggler-south {
    border-width: 0 1px;
}
.ui-layout-toggler-hover, .ui-layout-resizer-hover .ui-layout-toggler-hover {
    background-color: #FC6;
    opacity: 1.00;
    filter: alpha(opacity=100);
}